<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Personal site</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/message">Write to me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/read">View messages</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <figure class="figure col-3">
          <img
            src="images/logo.png"
            class="figure-img img-fluid rounded"
            alt="Logo"
            width="300"
            height="300"
          />
          <figcaption class="figure-caption text-end">GoIT</figcaption>
        </figure>
        <div class="col-9">
          <p>
            My name is Serhii. I live in the Czech Republic, and I work as a
            process engineer in the automotive industry. I’m passionate about
            technology, and this passion has led me to Neoversity, where I’m
            currently learning web development with Python. Of course, I’m not
            going to stop there — I plan to keep learning about technology
            throughout my life! I’m working on combining my technical knowledge
            with coding to improve production processes. If you have any
            questions or suggestions, feel free to reach out to me. I’m always
            happy to chat with like-minded people!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
